name: Pre-release to staging
on:
  workflow_call:
    inputs:
      environment: 
        required: true
        type: string
      git-tag:
        required: true
        type: string

jobs:
  deploy-to-staging:
    runs-on: ubuntu-latest
    uses: ./.github/workflows/deployment.yml
    with:
      environment: "${{ inputs.environment }}"
      ref: "${{ inputs.git-tag }}"
