name: Pre-release Trigger
on:
  release:
    types: [published]

jobs:
  setup-release:
    runs-on: ubuntu-latest
    outputs:
      git-tag: ${{ steps.tag.outputs.version }}
      env: ${{ steps.setup.outputs.environment }}
    steps:
      - name: Check release
        run: |
          echo "Release tag: ${{ github.event.release.tag_name }}"
          echo "Release name: ${{ github.event.release.name }}"
          echo "github.event.release.prerelease: ${{ github.event.release.prerelease }}"
          echo "github.event.release.isPrerelease: ${{ github.event.release.isPrerelease }}"
          echo "github.event.action: ${{ github.event.action }}"
          echo "github.payload: ${{ github.event.release.release }}"
      - name: Setup Environment
        id: setup
        uses: actions/github-script@v6
        with:
          script: |
            if ('${{ github.event.release.prerelease }}' === true) {
              core.setOutput('environment', 'staging')
            }
