name: Release and Pre-release Trigger
on:
  release:
    types: [published]

jobs:
  setup-environment:
    runs-on: ubuntu-latest
    outputs:
      git-tag: ${{ steps.tag.outputs.version }}
    steps:
      - name: Init
        run: |
          echo Deploy starting
          # this allows for blame
          echo ${{ github.actor }}
      - name: Get the version
        id: tag
        run: |
          echo "version=${GITHUB_REF/refs\/tags\//}" >> $GITHUB_OUTPUT

      - name: Check release and env values
        run: |
          echo "The environment is ${{ steps.setup.outputs.environment }}"
          echo "The tag is ${{ steps.tag.outputs.version }}"
          echo "Release tag: ${{ github.event.release.tag_name }}"	          
          echo "Release name: ${{ github.event.release.name }}"
          echo "commit-hash: $(git rev-parse HEAD)"
          echo "is a prerelease? (github.event.release.prerelease): ${{ github.event.release.prerelease }}"
          echo "is a regular release? (will say release if true)(github.event.action): ${{ github.event.action }}"

  pre-release:
    needs: [setup-environment]
    runs-on: ubuntu-latest
    if: github.event.release.prerelease == true
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
        with:
          ref: ${{ needs.setup-environment.outputs.git-tag }}

      - name: Call pre-release workflow
        uses: ./pre-release.yml  # Use a specific branch
        with:
          environment: "staging"
          ref: "${{ needs.setup-environment.outputs.git-tag }}"

  release:
    needs: [setup-environment]
    runs-on: ubuntu-latest
    if: github.event.action == 'released'
    steps:
      - name: Call release workflow
        uses: .github/workflows/release.yml@master  # Use a specific branch
        with:
          environment: "prod"
          ref: "${{ needs.setup-environment.outputs.git-tag }}"
