name: Release Trigger
on:
  release:
    types: [published, released]

jobs:
  setup-release:
    runs-on: ubuntu-latest
    outputs:
      git-tag: ${{ steps.tag.outputs.version }}
      env: ${{ steps.setup.outputs.environment }}
    steps:
      - name: Check release
        run: |
          echo "Release tag: ${{ github.event.release.tag_name }}"
          echo "Release name: ${{ github.event.release.name }}"
          echo "Is pre-release (boolean): ${{ github.event.release.prerelease }}"
          echo "isPrerelease: ${{ github.event.release.isPrerelease }}"
          echo "Is release (string): ${{ github.event.action }}"
      - name: Setup Environment
        id: setup
        uses: actions/github-script@v6
        with:
          script: |
            if ${{ github.event.release.prerelease }} {
              core.setOutput('environment', 'staging')
            }
            if ('${{ github.event.action }}' === 'released') {
              core.setOutput('environment', 'prod')
            }
