name: Release to Prod
on:
  workflow_call:
    inputs:
      environment: 
        required: true
        type: string
      git-tag:
        required: true
        type: string

jobs:
  setup-environment:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
        with:
          ref: ${{ inputs.ref }}

  release-prod:
    needs: [setup-release]
    runs-on: ubuntu-latest
    uses: actions/checkout@v3
    uses: ./.github/workflows/deployment.yml
    with:
      environment: "${{ inputs.environment }}"
      ref: "${{ inputs.git-tag }}"
