name: Release and Pre-release Trigger
on:
  release:
    types: [published, edited]

jobs:
  setup-release:
    runs-on: ubuntu-latest
    outputs:
      git-tag: ${{ steps.tag.outputs.version }}
    steps:
      - name: Init
        run: |
          echo Deploy starting
          # this allows for blame
          echo ${{ github.actor }}

      - name: Check release and env values
        run: |
          echo "The environment is ${{ steps.setup.outputs.environment }}"
          echo "The tag is ${{ steps.tag.outputs.version }}"
          echo "Release tag: ${{ github.event.release.tag_name }}"	          
          echo "Release name: ${{ github.event.release.name }}"
          echo "commit-hash: $(git rev-parse HEAD)"
          echo "is a prerelease? (github.event.release.prerelease): ${{ github.event.release.prerelease }}"
          echo "is a regular release? (will say release if true)(github.event.action): ${{ github.event.action }}"

  pre-release:
    needs: [setup-release]
    if: ${{ github.event.release.prerelease == true }}
    uses: ./.github/workflows/pre-release.yml
    with:
      environment: "staging"
      git-tag: "${{ github.event.release.tag_name }}"

  release:
    needs: [setup-release]
    if: ${{ github.event.release.prerelease == false }}
    uses: ./.github/workflows/release.yml
    with:
      environment: "prod"
      git-tag: "${{ github.event.release.tag_name }}"
